$fontcolor:#fff;
@font-face{
    font-family: 'yekan';
    src: url('assets/fonts/Yekan.ttf') format('truetype'),
    url('assets/fonts/Yekan.woff') format('woff'),
    url('assets/fonts/Yekan.woff2') format('woff2');
   }
